<h1>This is Display page</h1>

<p>Title :  <%= @post.title %></p>
<p>Description :  <%= @post.description %></p>
<p>Date :  <%= @post.date %></p>
<style>
    body{
        margin-left: 20px;
        margin-top: 50px;
    }
</style>