// Place all the styles related to the Developers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#table_6 thead tr td {
  background-color: #006699;
  color :white;
  padding: 8px;
}
#table_6 {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border-color: lightgray;
  width: 50%;
}
a.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: none;
  --bs-btn-border-color: none;
}
