// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.profiler-result{
  display: none;
}
#table_1 {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border-color: lightgray;
  width: 50%;
}
#table_1 thead tr td {
  background-color: #006699;
  color :white;
  padding: 8px;
}
body{
  margin-left: 10px;
  margin-top: 0px;
}
.btn-link {
  text-decoration: none;
}
#table_1 tr td {
  display: table-cell;
  vertical-align: inherit;
  padding: 1px;
}
.navbar-light{
  margin-bottom: 10px;
  padding-bottom: 10px;
}
