// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#table_5 thead tr td {
  background-color: #006699;
  color :white;
  padding: 8px;
}
#table_5 {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border-color: lightgray;
  width: 50%;
}