<nav class="navbar navbar-light" style="background-color: #666666;" >
<div class="container-fluid">
  <ul class="nav">
    <li class="nav-item">
      <%= link_to "Users" ,users_path, title: 'Users', class: 'btn btn-secondary' %>
    </li>
    <li class="nav-item">
      <%= link_to "Posts" , root_path, title: 'posts', class: 'btn btn-secondary'%>
    </li>
    <li class="nav-item">
      <%= link_to "Company" ,companies_path, title: 'Company', class: 'btn btn-secondary'%>
    </li>
    <li class="nav-item">
      <%= link_to "Employee" ,employees_path, title: 'Employee', class: 'btn btn-secondary'%>
  </ul>
</div>
</nav>
